<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplicacionandroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Main.GraficsActivity"
            android:exported="false" />
        <activity
            android:name=".User.DadesUsuariActivity"
            android:exported="false" />
        <activity
            android:name=".User.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".Ajuda.AjudaActivity"
            android:exported="false" />
        <activity
            android:name=".Preguntes.RespostesActivity"
            android:exported="false" />
        <activity
            android:name=".Preguntes.PreguntesActivity"
            android:exported="false" />
        <activity
            android:name=".Forum.ComentariActivity"
            android:exported="false" />
        <activity
            android:name=".Jocs.JocActivity"
            android:exported="false" />
        <activity
            android:name=".Forum.ForumActivity"
            android:exported="false" />
        <activity
            android:name=".Main.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Main.PrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".Jocs.JocsActivity"
            android:exported="false" />
        <activity
            android:name=".Jocs.GamesSelectorActivity"
            android:exported="false" />
        <activity
            android:name=".User.EditSlotsActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserActivity"
            android:exported="false" />
        <activity
            android:name=".Login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>